html {
  scroll-snap-type: y mandatory;
}
.app {
  background-color: black;
  height: 100vh;
  display: grid;
  place-items: center;
}
.app_videos {
  position: relative;
  height: 90vh;
  border-radius: 20px;
  overflow: scroll;
  width: 80%;
  max-width: 400px;
  scroll-snap-type: y mandatory;
}
.app_videos::-webkit-scrollbar {
  display: none;
}
.app_videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}