.video {
    position: relative;
    background-color: white;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
}
.video_player {
    background-color: black;
    height: 100%;
    width: 100%;
    object-fit: fill;
}